<div class="content row">
    <div class="container">
        <h3>編集する</h3>
        <%= form_with(model: @miniblog, class: 'form',  local: true) do |form| %>
          <%= form.text_area :text, placeholder: "", rows: "10", class: 'text_area' %>
          <%= form.submit "SEND", class: 'submit-btn'%>
        <% end %>
    </div>
</div>