@charset "UTF-8";
// 以下はリセットSCSSです。
body {
  margin: 0;
  padding: 0;
  position: relative;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
}

a:hover {
  
}

// 以下は共通部分のSCSSです。
.container {
  width: calc(100vw - 30%);
  margin: 80px auto;
}

.container h3 {
  color: black;
  opacity: 0.6;
}
// 以下はapplication.html.erbのSCSSです
header {
  height: 60px;
  margin: 0 auto;
  background-color: green;
  display: flex;
  justify-content: space-around;
}

.heading {
    width: 70%;
    padding: 5px 0;
}

.title {
    margin-left: 30px;
    color: white;
}

.navbar {
    width: 30%;
}

.nav-lists {
    display: flex;
    justify-content: space-around;
}

.nav-list {
    color: white;
    padding: 15px 0;
    cursor: pointer;
}

// 以下はindex.html.erbのSCSSです。
.content_post {
  border: 1px solid gray;
  margin-bottom: 50px;
  padding: 40px;
}

.btn-lists {
  display:flex;
  width: 100%;
}

.btn-list {
  padding: 10px 15px;
  margin-right: 20px; 
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

#confirmation_display_before_deletion {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  position: fixed;
  top: 30px;
  left: calc(100vw - 50%);
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  display: none;
  }
  
  .confirmation_display_before_deletion ul {
    display: flex;
    justify-content: space-around;
  }
  
  .confirmation_display_before_deletion li {
    border: 2px solid lightgray;
    padding: 2px 16px;
  }
  
  .confirmation ul {
    display: flex;
    justify-content: space-around;
  }
  
  .before-delete-btn {
    color: white;
    background-color: gray;
    border: 1px solid gray;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;

  }
// 以下はnew.html.erbのSCSSです。
.text_area {
  border: none;
  border-bottom: 2px solid green;
  width: 100%;
}

.submit-btn {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
}

// 以下はshow.html.erbのSCSSです。
.btn_show_lists {
  width: 36%;
}

// 以下は/sessions/new.html.erbのSCSSです。
.new_user {
  width: calc(100vw - 50%);
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
}

.devise-title {
  text-align: center;
}

.field,
.actions {
  width: 80%;
  margin:  0 auto 10px;
}
#user_nickname,
#user_email,
#user_password,
#user_password_confirmation,
.sign-up-btn,
.sign-in-btn {
  width: 100%;
  height: 30px;
}

.sign-up-btn,
.sign-in-btn {
  background-color: green;
  border-radius: 20px;
  margin: 30px 0;
  border: none;
  color: white;
}
